body
{
	background-color: rgb(247,229,193);
	font-family : arial;
}

.navbarCustom.navbar
{
	background-color: rgb(51,51,51);
	font-size: 10px ;
	min-height: 10px ;
	max-height: 100px ;
}
.navbarCustom.top.firstUl>li>a
{
	padding-top: 0px ;
	padding-bottom: 0px ;
	min-height: 5px ;
	max-height: 1000px ;
	height :10px;
}

#navbarBottom
{
	background-color: rgb(255,255,255);
}

#whiteRow
{
	height : 100px;
	padding-top: 0px ;
}

img
{
	padding-top: 25px ;
}

#freeTrial
{
	background-color:rgb(232,72,40)!important;
	color : rgb(255,255,255) ;
	margin-top: 15px ;
}


h5
{
	text-decoration: none ;
	color: rgb(0,0,0);
	text-align: center ;
}

.second
{
	padding-top: 30px ;
}

.bottomNavigation
{
	height : 90px ;
	margin-top: 50px;
}
#image1
{
	margin-left: 88px ;
}

.mainNav
{
	padding-top: 10px ;
	padding-right: 125px ;
}

#jumbosaur
{
	padding-bottom: 10px ;
	text-align: center ;
	background-color: rgb(247,229,193);
	margin-top: 150px ;
}
#free
{
	background-color:rgb(232,72,40)!important;
	color : rgb(255,255,255) ;
}

#mega
{
	font-size: 40px; 
}

#desktop
{
	position: absolute;
	margin-left: 75px ;
	z-index: -1 ;
}
#mobile
{
	position: absolute;
	z-index: 1 ;
	margin-top: 120px ;
	margin-left: 850px ;
}

.firstUl
{
	margin-right: 100px ;
}
.firstUl>li>a
{
	color : rgb(255,255,255)  ;

}

.firstUl>li>a:hover
{	
	background-color: rgb(51,51,51);
	color : gray ;
}
.mainNav>li>a>h5:hover
{
	color:rgb(232,72,40);
}

.theBest
{
	align : center ;
}

.bestContainer
{
	margin-top: 410px ;
	background-color: rgb(255,255,255);
	align-items: center ;
	height : 550px;
}

.theBest
{
	margin-top: 30px ;
	margin-left: 40px ;
}

.happyCustomers
{
	text-align: center ;
	margin-top: 50px ;
	font-size: 20px;
	text-decoration : none ;
}

.secondBest
{
	margin-left: 260px ;
}

.hr1 {
    height: 1px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.para
{
	background-color: white ;
	height : 200px ;
	margin-top: 00px ;
}

.parag
{
	margin-top: 50px;
	margin-bottom : 50px ;
	text-align: center ;
	font-size: 18px ;
}

.improve
{
	margin-top: 50px ;
	font-size : 40px ;
	text-align: center ;
}

.improveDiv
{
	background-color: white ;
	height : 800px ;
}

.tourLink
{
	text-decoration : none ;
	text-align: center ;
	font-size : 18px ;
	margin-left: 650px;
}

.laptop
{
	position :absolute ;
	z-index :1;
	margin-left: -770px ;
	padding-left: 0px ;
	margin-top: 75px;
}

.topChat
{
	position: absolute;
	z-index: 2 ;
	margin-left: -675px ;
	margin-top: 175px ;
}

.middleChat
{
	position: absolute;
	z-index: 3 ;
	margin-left: -525px ;
	margin-top: 275px ;
}

.bottomChat
{
	position: absolute;
	z-index: 4 ;
	margin-left: -675px ;
	margin-top: 400px ;
}

.response
{
	margin-left: 765px ;
	margin-top : 50px ;
}

.customer
{
	margin-left: 800px ;
}

.helpDiv
{
	background-color: white ;
	height: 500px ; 


}

.help
{
	font-size: 40px;
	text-align: center ;
	color:black; 
	margin-top: 50px ;
}

.implementation
{
	text-align: center ;
	font-size: 18px ;
	margin-top: 20px ;

}

.icon1
{
	margin-top: 100px ;
	margin-left: 400px ;
}

.icon2
{
	margin-left: 400px ;
}

.icon3
{
	margin-left: 400px ;
}

.icon4
{
	margin-left: 600px ;
}

.icon5
{
	margin-left: 600px ;
}

.icon6
{
	margin-left: 600px ;
}

.heading1
{
	margin-left: 475px ;
	margin-top: -60px ;
}
.sub1
{
	margin-left: -325px ;
	margin-top: -5px ;
}

.heading2
{
	margin-left: 475px ;
}
.sub2
{
	
}

.heading3
{
	margin-left: 475px ;
}
.sub3
{
	
}

.heading4
{
	
}
.sub4
{
	
}

.heading5
{

}
.sub5
{
	
}

.heading6
{

}
.sub6
{
	
}