/* For the entire document*/

body
{
	background-color: rgb(247,229,193);
	font-family : arial;
}

img
{
	padding-top: 25px ;
}

h5
{
	text-decoration: none ;
	color: rgb(0,0,0);
	text-align: center ;
}

hr
{
    height: 1px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

button
{
	color : white ;
}




/*Properties related to first navbar*/

.navbarCustom.navbar
{
	background-color: rgb(51,51,51);
	font-size: 10px ;
	min-height: 10px ;
	max-height: 100px ;
}

.navbarCustom.top.firstUl>li>a
{
	padding-top: 0px ;
	padding-bottom: 0px ;
	min-height: 5px ;
	max-height: 1000px ;
	height :10px;
}

.firstUl
{
	margin-right: 100px ;
}
.firstUl>li>a
{
	color : rgb(255,255,255)  ;

}

.firstUl>li>a:hover
{	
	background-color: rgb(51,51,51);
	color : gray ;
}





/*Properties related to the second navbar*/

.bottomNavigation
{
	height : 90px ;
	margin-top: 50px;
	background-color: rgb(255,255,255)!important;
}

.image1
{
	margin-left: 88px ;
}

.mainNav
{
	padding-top: 10px ;
	padding-right: 125px ;
}

.mainNav>li>a>h5:hover
{
	color:rgb(232,72,40);
}

.freeTrial
{
	background-color:rgb(232,72,40)!important;
	color : rgb(255,255,255) ;
	margin-top: 15px ;
}

.freeTrial:hover
{
	background-color: rgb(252,72,40);
	color : white;
}




/* Related to jumbotron and orange division*/

.jumbosaur
{
	padding-bottom: 10px ;
	text-align: center ;
	background-color: rgb(247,229,193);
	margin-top: 150px ;
}

.mega
{
	font-size: 40px !important; 
}

.free
{
	background-color:rgb(232,72,40)!important;
	color : rgb(255,255,255) ;
}

.free:hover
{
	color : white ;
	background-color: rgb(252,72,40);
}

.desktop
{
	position: absolute;
	margin-left: 75px ;
	z-index: -1 ;
}

.mobile
{
	position: absolute;
	z-index: 1 ;
	margin-top: 120px ;
	margin-left: 850px ;
}





/*This is related to the container containg awards and recognized customers*/

.bestContainer
{
	margin-top: 410px ;
	background-color: rgb(255,255,255);
	align-items: center ;
	height : 550px;
}
.theBest
{
	margin-top: 30px ;
	margin-left: 40px ;
		align : center ;
}

.happyCustomers
{
	text-align: center ;
	margin-top: 50px ;
	font-size: 20px;
	text-decoration : none ;
}

.secondBest
{
	margin-left: 260px ;
}





/*This is related to the division between the two horizontal rules.*/

.para
{
	background-color: white ;
	height : 200px ;
	margin-top: 00px ;
}

.parag
{
	margin-top: 50px;
	margin-bottom : 50px ;
	text-align: center ;
	font-size: 18px ;
}





/*This is related to the statistics division and the chat demo.*/

.improveDiv
{
	background-color: white ;
	height : 800px ;
}

.improve
{
	margin-top: 50px ;
	font-size : 40px ;
	text-align: center ;
}

.tourLink
{
	text-decoration : none ;
	text-align: center ;
	font-size : 18px ;
	margin-left: 650px;
}

.laptop
{
	position :absolute ;
	z-index :1;
	margin-left: -770px ;
	padding-left: 0px ;
	margin-top: 75px;
}

.topChat
{
	position: absolute;
	z-index: 2 ;
	margin-left: -675px ;
	margin-top: 175px ;
}

.middleChat
{
	position: absolute;
	z-index: 3 ;
	margin-left: -525px ;
	margin-top: 275px ;
}

.bottomChat
{
	position: absolute;
	z-index: 4 ;
	margin-left: -675px ;
	margin-top: 400px ;
}

.response
{
	margin-left: 765px ;
	margin-top : 50px ;
}

.customer
{
	margin-left: 800px ;
}